body {
font-family: 'Montserrat', sans-serif;
margin: 0;
font-size: 1.1vw;
}


/* Background colors */

#drk-purple {
    background-color: rgb(117, 45, 209);
    width: 100vw;
    height: 35vh;
	top: -22%;
	z-index: -10;
    transform: skewY(-11deg);
    position: absolute;
}
#med-purple {
    background-color: rgb(116,72,215);
    height: 60vh;
	width: 100vw;
	z-index: -10;
	transform: skewY(-10deg);
    position: absolute;
}
#light-purple {
    background-color: rgb(115,111,223);
    height: 25vh;
    width: 100vw;
	top: 60%;
	z-index: -10;
    transform: skewY(-10deg);
    position: absolute;
}
#gray {
    background-color: rgb(246,249,252);
    height: 60%;
    width: 100%;
	top: 190%;
    transform: skewY(-8deg);
	position: absolute;
	z-index: -10;
}


/* --------Content Grid---------- */
#wrapper {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto auto auto;
	margin-top: 20px;
	max-width: 1600px;
	grid-template-areas:
	". . logo  . . . home whyus contact login support-btn ." 
	". . . . main main main main . . . ."
	". . . . input input input search-btn . . . ."
	". . . . header-text header-text header-text header-text . . . ."
	". . . . . circle-btn circle-btn . . . . . "
	". . section1 section1 section1 section1 section1 section1 section1 section1 . ."
	". . . . create-btn create-btn create-btn create-btn . . . ."
	". . . . service-header service-header service-header service-header . . . . "
	". scL scL scL scL scL scR scR scR scR scR ."
	". bottom-container bottom-container bottom-container bottom-container . . . create-acnt-btn create-acnt-btn contact-btn .";
	/* "footer footer footer footer footer footer footer footer footer footer footer footer";	 */
}

.navLinks {
	font-size: 1vw;
	text-decoration: none;
	color: white;
	padding-top: 8px;
	justify-self: center;
}

#support-btn{
	background-color: rgb(129,211,152);
	text-decoration: none;
	color:white;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-radius: 8px;
	box-shadow: 0px 2px 5px rgb(61, 43, 102);
	font-size: 1vw;
}

#navbar {
	grid-area: navbar;
	display: grid;
}

#logo {
	grid-area: logo;
}

#home{
	grid-area: home;
}

#whyUs {
	grid-area: whyus;
}

#contact {
	grid-area: contact;
}

#login {
	grid-area: login;
}

#support-btn {
	grid-area: support-btn;
}

#text-colorize {
	color: rgb(129,211,152);
}

#logo {
	color: white;
	font-weight: bold;
	font-size: 1.4rem;
	text-decoration: none;
}

/* Main page */
.main-content {
	grid-area: main;
	justify-self: center;
	margin-top: 90px;
	font-size: 1.2vw;
	color: white;
}

input {
	grid-area: input;
	height: 30px;
	border-radius: 10px;
	border-style: none;
	padding: 2% 10%;
	font-size: 1vw;
	font-family: 'Raleway', sans-serif;
	margin-right: 10px;
}
#search-btn {
	grid-area: search-btn;
	background-color: rgb(129,211,152);
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgb(61, 43, 102);
	padding: 15px;
	text-align: center;
	border-style: none;
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 1vw;
}

#learn-more-text {
	grid-area: header-text;
	justify-self: center;
	margin-top: 50%;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3vw;
}

#circle-btn {
	grid-area: circle-btn;
	background-color: rgb(129,211,152);
	height: 60px;
	width: 60px;
	justify-self: center;
	border-radius: 50%;
	z-index: 10;
	color: white;
	margin-top: 1vw;
}

#arrow {
	grid-area: arrow;
	z-index: 10;
	font-size: 3vw;
	padding: 10px;
	color: white;
}


/* ------------ SECTIONS ------------- */

/* Section 1 */
.section1 {
	grid-area: section1;
	margin-top: 15%;
	line-height: 1.5em;
	text-align: center;
	font-size: 1.2vw;
	font-weight: 300;
}

#create-btn {
	grid-area: create-btn;
	background-color: rgb(116, 72, 215);
	font-family: 'Raleway', sans-serif;
	color: white;
	padding: 10px 30px;
	border-radius: 10px;
	justify-self: center;
	font-size: 1vw;
	margin-bottom: 20%;
	margin-top: 30px;
}

/* Section 2 */
.service-header {
	grid-area: service-header;
	justify-self: center;
	margin-bottom: 5%;
}

#header {
	font-weight: 300;
	font-size: 1.7vw;
	margin: 0;
}
hr {
	border: none;
	height: 2px;
	color: black;
	background-color: black;
	width: 50px;
	justify-self: center;
}

.service-containerL {
	grid-area: scL;
}

.service-containerR {
	grid-area: scR;
}

.service-card1 {
	grid-area: sc1;
	margin-right: 20px;
	margin-bottom: 20px;
}

.service-card2{
	grid-area: sc2;
	margin-right: 20px;
}

.service-card3 {
	grid-area: sc3;
	margin-bottom: 20px;
}

.service-card4 {
	grid-area: sc4;
	
	
}
.service-card1 img {
	float: left;
	width: 20%;
	margin-top: 3%;
	margin-right: 20px;
	
}

.service-card2 img {
	float: left;
	width: 20%;
	margin-top: 3%;
	margin-right: 20px;
}

.service-card3 img {
	float: left;
	width: 20%;
	margin-top: 3%;
	margin-right: 20px;
}

.service-card4 img {
	float: left;
	width: 20%;
	margin-top: 3%;
	margin-right: 20px;
}

.service-card1 , .service-card2, .service-card3, .service-card4 {
	border: 1px solid rgb(189, 189, 189);
	padding: 10px 10px 10px 0px;
	background-color: rgb(242, 242, 242);
	border-radius: 10px;
}

/* Section 3 */
#bottom-context{
	grid-area: bottom-container;
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
	margin-bottom: 70px;
}

#bottom-context h3 {
	font-weight: 300;
	font-size: 1.7vw;
	color: rgb(115, 111, 223);
}

#bottom-context h3#subtext {
	color: rgb(116, 72, 215);
	font-weight: 400;
}

.button#create-account-btn {
	grid-area: create-acnt-btn;
	background-color: rgb(116, 72, 215);
	box-shadow: 0px 3px 10px rgb(61, 43, 102);
	height: 20px;
	width: 170px;
	padding-right: 0px;
	padding-left: 25px;
	padding-top: 10px;
	margin-top: 120px;
	margin-right: 10px;
	font-size: .8vw;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	color: white;
	border-radius: 10px;
	justify-self: end;
}

.button#create-account-btn:hover {
	background-color: rgb(255, 255, 255);
	color: black;
	box-shadow: 0px 3px 10px rgb(61, 43, 102);
}
.button#contact-btn {
	grid-area: contact-btn;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 3px 10px rgb(61, 43, 102);
	height: 20px;
	width: 100px;
	padding-right: 0px;
	padding-left: 25px;
	padding-top: 10px;
	margin-top: 120px;
	margin-left: 10px;
	font-size: .8vw;
	text-decoration: none;
    color: black;
	font-family: 'Raleway', sans-serif;
	border-radius: 10px;
	justify-self: end;
}

.button#contact-btn:hover {
	grid-area: contact-btn;
	background-color: rgb(116, 72, 215);
	color: white;
} 

/* ---------Footer----------- */
footer {
	grid-area: footer;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/* grid-template-rows: auto; */
	background-color: rgb(115,111,223);
	color: white;
	grid-template-areas: 
	"contact-icon footer-col1 footer-col1 . . footer-col2 . footer-col3 . footer-col4  footer-col5 . "
}

footer h3 {
	font-size: 1.2vw;
	font-weight: 700;
	margin-top: 0;
}

footer p {
	font-size: 1vw;
	font-weight: 300;
}

#facebook {
	color: rgb(63, 63, 63);
	font-size: 2vw;
}

#youtube {
	color: rgb(63, 63, 63);
	font-size: 2vw;
}

#twitter {
	color: rgb(63, 63, 63);
	font-size: 2vw;
}

.contact-icon {
	grid-area: contact-icon;
	float: left;
	justify-self: start;
	margin-right: 11px;
	margin-top: 50px;
}

.col1 {
	grid-area: footer-col1;
	float: left;
	margin-top: 50px;
	justify-self: start;
	margin-bottom: 50px;
}

.col1 span#phone {
	font-size: 1.3vw;
	font-weight: 700;
}

.col1 span {
	font-size: 1vw;
	font-weight: 300;
}
.col2 {
	grid-area: footer-col2;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
}
.col3 {
	grid-area: footer-col3;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
}

.col4 {
	grid-area: footer-col4;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
}
.col5 {
	grid-area: footer-col5;
	float: left;
	margin-top: 50px;
	justify-self: end;
	margin-bottom: 50px; 
}


/* @media screen and (max-width: 1033px) {
	
	#wrapper {
		display: grid; 
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: repeat(auto auto auto auto);
		margin-top: 20px;
		max-width: 1500px;
		-webkit-transition: width 2s;
		transition: width 2s;
		grid-template-areas:
	}

	
	
} */

/* @media screen and (max-width: 956px) {
	nav div {
		grid-auto-rows: auto;
	}
	header {
		font-size: .7em;
	}

	.navLinks {
		display: inline-block;
		font-size: .7em;
	}
	.logo {
		font-size: 1em;
	}
} */

@media screen and (min-width: 760px) {
	#wrapper {
		display: grid;
		height: 100%;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto auto auto auto;
		margin-top: 20px;
		max-width: 1600px;
		grid-template-areas:
		". . logo  . . . home whyus contact login support-btn ." 
		". . . . main main main main . . . ."
		". . . . input input input search-btn . . . ."
		". . . . header-text header-text header-text header-text . . . ."
		". . . . . circle-btn circle-btn . . . . . "
		". . section1 section1 section1 section1 section1 section1 section1 section1 . ."
		". . . . create-btn create-btn create-btn create-btn . . . ."
		". . . . service-header service-header service-header service-header . . . . "
		". scL scL scL scL scL scR scR scR scR scR ."
		". bottom-container bottom-container bottom-container bottom-container . . . create-acnt-btn create-acnt-btn contact-btn .";
		/* "footer footer footer footer footer footer footer footer footer footer footer footer";	 */
	}

}

@media screen and (max-width: 860px) {
	/* for mobile phones */
	nav {
		display: none;
	}
	#drk-purple {
		top: 0;
		transform: skewY(0deg);
		z-index: -10;
	}

	#med-purple {
		top: 10%;
		height: 50%;
		transform: skewY(0deg);
		z-index: -10;
	}

	#light-purple {
		top: 55%;
		transform: skewY(0deg);
		z-index: -10;
	}

	#gray {
		top: 210%;
		transform: skewY(0deg);
		z-index: -10;
	}

}