body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}


.div-wrapper {
	display: grid;
}

/* Background */

.background {
    background-color: rgb(117, 45, 209);
    width: 100%;
    height: 334px;
    transform: skewY(-11deg);
    z-index: 10;
    position: absolute;
    top: -289px;
}
.background2 {
    background-color: rgb(116,72,215);
    height: 573px;
    width: 100%;
    position: absolute;
	z-index: -10;
}
.background3 {
    background-color: rgb(115,111,223);
    height: 205px;
    width: 100%;
    transform: skewY(-8deg);
    position: absolute;
    top: 470px;
}
.background4 {
    background-color: rgb(246,249,252);
    height: 400px;
    width: 100%;
    transform: skewY(-8deg);
    position: absolute;
	top: 1470px;
	z-index: -10;
}

/* Navbar */

nav {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: auto;
	margin: 40px 40px 0px 0px;
	z-index: 10;
}

nav a {
	text-decoration: none;
	color: white;
}

.navLinks {
	font-size: .85rem;
}

.logo {
	grid-column: 2;
	font-weight: bold;
	font-size: 1.4rem;
}

.home {
	grid-column: 8;
}

.button {
	background-color: rgb(129,211,152);
	border: none;
	text-decoration: none;
	padding: 8px 30px;
	box-shadow: 0px 2px 5px;
	border-radius: 8px;
	box-shadow: 0px 2px 5px rgb(61, 43, 102);
}

.button:hover {
	box-shadow: 0px 2px 5px rgb(217, 204, 247);
}

header {
	display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 80px 160px 254px 253px;
    color: white;
    text-align: center;
}

.header-description{
	grid-column: 10 / 17;
	grid-row: 2;
	font-size: 40px;
}

.inputbox {
	grid-column: 10 / 15;
	grid-row: 3;
	height: 30px;
	border-radius: 10px;
	border-style: none;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
}

#search {
	grid-column: 15 / 17;
	grid-row: 3;
	height: 30px;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	border-style: none;
	color: white;
	margin-left: 10px;

}

#text {
	grid-column: 10 / 17;
	grid-row: 4;
	font-family: 'Raleway', sans-serif;
	z-index: 10;
}

#text-emphasize {
	color: rgb(129,211,152);
	z-index: 10;
}

#circle-button {
	background-color: rgb(129,211,152);
	height: 60px;
	width: 60px;
	grid-column: 13;
	grid-row: 4;
	margin-top: 40px;
	border-radius: 50%;
	z-index: 10;
	margin-top: 71px;
	color: white;
}

#circle-button:hover {
	box-shadow: 0px 2px 5px rgb(217, 204, 247);
}

#arrow {
	font-size: 40px;
	padding: 10px;
}

/* Product Description */

.product-description {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-template-rows: 1fr;
	font-family: 'Raleway', sans-serif;

}

.product-description .container {
	grid-column: 8 / 19;
	text-align: center;
	line-height: 1.5em;
	font-size: 18px;
}

.product-description button {
	background-color: rgb(116, 72, 215);
	font-family: 'Raleway', sans-serif;
	color: white;
	padding: 10px 30px;
	border-radius: 10px;

}

/* Product Listing */
.service {
	display: grid;
	grid-template-columns: repeat(36, 1fr);
	margin-top: 7%;
}

#header {
	display: grid;
	grid-column: 18 / 22;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
	height: 20px;
}

hr {
	border: none;
	height: 2px;
	color: black;
	background-color: black;
	width: 50px;
	margin-bottom: 2%;
	margin-left: 50%;
}


.wrapper {
	display: grid;
    grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 2;
	position: relative;
}

.nested {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
	margin: 20px 150px 60px 100px;
}
.nested div img {
	float: left;
	width: 20%;
	margin-top: 3%;
	margin-right: 20px;
}
.nested div {
	border: 1px solid rgb(189, 189, 189);
	padding: 10px 10px 10px 0px;
	background-color: rgb(242, 242, 242);
	border-radius: 10px;
}

.description {
	font-size: 13px;
}


/* Signup  & Contact */

.signup {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-row: 6;
	margin-bottom: 40px;
}

.signup div {
	grid-column: 3 / 10;
}

.signup h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: rgb(115, 111, 223);
}

.signup h3#subtext {
	color: rgb(116, 72, 215);
	font-weight: 400;
}

.button span {
	font-size: .7rem;
	font-weight: 500;
}

.button#create-account-btn {
	background-color: rgb(116, 72, 215);
	color: white;
	height: 20px;
	width: 160px;
	padding-right: 0px;
	padding-left: 15px;
	border-radius: 10px;
	grid-column: 20;
}

.button#contact-btn {
	background-color: rgb(255, 255, 255);
	color: black;
	height: 20px;
	width: 80px;
	border-radius: 10px;
	margin-left: 20px;
}



/* Footer */
footer {
	display: grid;
	grid-template-columns: repeat(14. 1fr);
	background-color: rgb(115,111,223);
	color: white;
	padding: 80px;
}

h3 {
	margin: 0;
	font-size: 15px;
	font-weight: 500;
}

p {
	font-size: 12px;
	font-weight: 300;
}


.contact-icon {
	grid-column: 1;
	justify-self: end;
	margin-top: 0;
	margin-right: 20px;
}
.col1 {
	grid-column: 2;
	font-weight: 500;
}


.col2 {
	grid-column: 4;
	
}

.col3 {
	grid-column: 6;
	
}

.col4 {
	grid-column: 8;
}

.col5 {
	grid-column: 11;
}

.col6 {
	grid-column: 12;
}



@media screen and (max-width: 700px) {
	
}